


 body{
 	margin:0;
 }
 header{
 	background-color: #c1e6fc;
 }

 header img{
 		display:block;
 		width:200px;
 		margin:0 auto;
    background-color: white;
    padding:10px;
    border-radius:  5px;


  }
  header nav{
    padding:0;
  }

  header ul{
  	padding: 0;

  }

  header ul li{
    display:block;
  	float:left;
  	width:25%;
  	text-align: center;
  	padding:0 2px;
    color: rgba(13,121,185,.5);
    font-family: "Helvetica neue", Ariel, Sans-serif;
    font-size: 20px;
    font-weight
    transition:color 150ms ease-out;
}
 header ul li:hover{
   
    color:rgba(13,121,185,1);
    font-size: 25px;
    font-weight:900;

 }

#hero{
	height:300px;
	background-image: url("../images/sky.jpg");
	background-size:cover;
	background-attachment: fixed;

  main{
    background-color: #dededed;
  }
}
section {
    width:80%;
    margin:0 auto;
    position:relative;

}

  section img{
     width:25%;
     float:left;
     border-radius:50%;
     padding:10px;
     border:1px solid #ccc;
     background-color: #efefef;
     position:absolute;
     top:10px;
     left:10%;
     z-index:1;
     transition:color 150ms ease-out;



  section article h1{
    font-size:45px;
  }
  section article {

    width:80%;
    float:left;
    border-radius:50%;
    padding:10px;
   

  }

  section article:before{
    content:"";
    background-color:red;
    display:block;
    width:100px;
    height:150px;
    position: absolute;

     

  }
  section article h1{
    font-size:45px;
  }


  section article h2{
    font-family: 'Kaushan Script', cursive;

  }
